@charset "UTF-8";
*{
	margin:0;
	padding:0;
	-webkit-box-sizing:border-box;
}
li{
	list-style:none;
}
a{
	text-decoration:none;
	-webkit-tap-highlight-color:#fff;
}
body,html,.container{
	width:100%;
	height:100%;
	overflow:hidden;
}
.container{
	display:-webkit-flex;
	-webkit-flex-direction:column;
}
.header{
	height:50px;
	width:100%;
	border-bottom:1px solid #F5AFAC;
	text-align:center;
	line-height:50px;
	position:relative;
	a{
		position:absolute;
		left:0;
		top:0;
		width:50px;
		height:100%;
		background:url('../img/03.jpg') no-repeat center;
		background-size:50%;
		font-size:0;
	}
}
.main{
	background:#F6514B;
	-webkit-flex-grow:1;
	position:relative;
	//方形图片
	.content{
		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		margin:auto;
		width:85%;
		height:80%;
		background:url("../img/img15.png") no-repeat;
		background-size:100% 100%;
		&:after{
			content:"";
			width:80px;
			height:80px;
			position:absolute;
			background:url('../img/vege.png') no-repeat center;
			background-size:contain;
			left:-20px;
			bottom:0;
		}
	}
}
//按钮样式,改变上下位置可给top:值
.btn{
	position:absolute;
	left:0;
	right:0;
	margin:0 auto;
	width:120px;
	height:50px;
	background:url('../img/img8.png') no-repeat 5px;
	background-size:cover;
	text-align:center;
	line-height:40px;
	font-weight:700;
	a{
		color:#B00600;
	}
}
/*--------弹出框-------*/
.dialog{
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.5);
	position:fixed;
	top:0;
	left:0;
	.box{
		position:absolute;
		background:white;
		width:80%;
		height:60%;
		top:0;
		left:0;
		right:0;
		bottom:0;
		margin:auto;
		.top{
			height:80%;
			background:#FFF3BF;
			line-height:30px;
			position:relative;
			span{
				font-size:0;
				&:nth-child(1){
					width:120px;
					height:120px;
					position:absolute;
					left:0;
					right:0;
					margin:0 auto;
					top:40px;
					background:url('../img/img2.png') no-repeat center ;
					background-size:100%;
					z-index:1;
				}
				&:nth-child(2){
					width:120px;
					height:30px;
					position:absolute;
					left:20px;
					top:40px;
					background:url('../img/img9.png') no-repeat center ;
					background-size:100%;
				}
				&:nth-child(3){
					width:80px;
					height:40px;
					position:absolute;
					right:20px;
					top:80px;
					background:url('../img/img10.png') no-repeat center ;
					background-size:100%;
				}
			}
			h3{
				width:100%;
				height:100px;
				position:absolute;
				left:0;
				right:0;
				margin:0 auto;
				padding:0 30px;
				bottom:10px;
			}
		}
		.bottom{
			height:20%;
			background:#FAEAA4;
			position:relative;
			.dialog-btn{
				left:0;
				top:0;
				right:0;
				bottom:0;
				margin:auto;
			}
		}
	}
	.close{
		position:absolute;
		top:0;
		right:10%;
		width:40px;
		height:40px;
		background:url('../img/img12.png') no-repeat center;
		text-align:center;
		line-height:50px;
		font-weight:700px;
		color:#fff;
		background-size:contain
	}
}
/*-----------隐藏-----------*/
.hide{
	display:none;
}
/*-------------前三页的li-------------*/
.li{
	width:82px;
	height:30px;
	border:1px solid #D3CCAB;
	border-radius:5px;	
	text-align:center;
	line-height:28px;
	color:#5F5D52;
	margin:10px;
	margin-top:50px;
}
.li-bg{
	background:#F6514B;
	color:white;
}
/*-----------------60道题的选择--------------*/
.span{
	width:62px;
	height:30px;
	border:1px solid #D3CCAB;
	border-radius:5px;	
	text-align:center;
	line-height:28px;
	color:#5F5D52;
	margin:10px;
	margin-top:50px;
}
.span-bg{
	background:#F6514B;
	color:white;
}