<!-- 调查 -->
<!-- 固定样式 -->
<header class="header">
	<a class='back' ng-click='back()'>返回</a>
	<h2>小鲜测评</h2>
</header>
<div class="main">
	<!-- 方形盒子-->
	<div class="content">
		<li class="li">心脏病</li>
		<li class="li li-bg">心脏病</li>
		<p class="btn"><a href="#">继续</a></p>
	</div>

</div>
<!-- 弹出框 -->
<div class="dialog hide">
	<div class="box">
		<div class="top">
			<span>1</span>
			<span>2</span>
			<span>3</span>
			<h3>亲，我们为您准备了60道体质测设题，请耐心如实答题，获取真实体质结果</h3>
		</div>
		<div class="bottom">
			<p class="btn dialog-btn"><a href="#">继续</a></p>
		</div>	
		<div class="close">X</div>
	</div>

</div> 

<!-- 标准结构 -->
<!-- 
<header class="header">
	<a class='back' ng-click='back()'>返回</a>
	<h2>小鲜测评</h2>
</header>
<div class="main">
	<div class="content">
	</div>
</div>
 -->

<!-- btn样式 -->
<!-- 
<p class="btn dialog-btn"><a href="#">继续</a></p>
 -->

<!-- 方片样式 -->
 <!-- <div class="content">
 </div> -->

 <!-- li样式 -->
 <!-- <li class="li li-bg">心脏病</li> -->



